<!--



<!DOCTYPE html>
{% load staticfiles%}
<html lang="en"> 
<head>
  <!-- To Load Css For DropDown -->
  <!-- If Above One doesn't Work For dropdowm
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  -->

  <!-- Load Css For DropDown -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Ends Here -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--===============================================================================================-->  
    <meta name="description" content="">
    <!--===============================================================================================-->  
    <meta name="author" content="">
    <!--===============================================================================================-->  
  <title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %} ">
  <!--===============================================================================================-->  
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->  
  <link rel="stylesheet" href="{% static 'main/css/style.css' %} ">
  <!--===============================================================================================-->  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
  <!--===============================================================================================-->  
  <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
  <!--===============================================================================================-->  
  <script src="{% static 'main/js/modernizr.js' %} "></script>
  <!--===============================================================================================-->  

  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  
  <!-- ====================================================
  header section -->
  <header class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-logo">
          <br>
          <a href="main_base.html"><img src="{% static 'main/img/logo.png' %}" alt="" class="img-responsive logo"></a>
        </div>

        <div class="col-md-10">
          <nav class="navbar navbar-default">
            <div class="container-fluid nav-bar">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a class="menu" href="{% url 'home' %}">Home</a></li>
                  <li><a class="menu" href="{% url 'aboutus' %}">About us</a></li>
                  <li><a class="menu" href="{% url 'service' %}">Our Services </a></li>
                  <li><a class="menu" href="{% url 'team' %}">Our Team</a></li>
                  {% if user.is_authenticated %}
                    {% if Patient_logged_in %}
                         <li class="dropdown">
                              <button class="dropbtn">Appointment</button>
                                <div class="dropdown-content">
                                    <ul class="dropdown1"> 
                                        <li><a class ="menu" href="{% url 'takeapoint' %}">Make Appointment</a></li>
                                        <li><a  class ="menu" href="{% url 'cancelapoint' %}">Cancel Appointment</a></li>
                                        <li><a class ="menu" href="#">My Appointments</a></li>
                                    </ul>
                                </div> 
                        </li>
                       <li><a class="menu" href="#history"> History</a></li>
                    {% endif %}
                    {% if Doctor_logged_in %}
                       <li><a class="menu" href="#givemed">Give Medicine</a></li>
                        <li><a class="menu" href="{% url 'viewapoint'%}">View Appointment</a></li>
                    {% endif %}
                    <li><a class="menu" href="{% url 'contact' %}"> Contact Us</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-log-out" ></span>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!--<div class="card">
                        <img src="{{ Patient_logged_in.0.Profile_pic.url }}" alt="Card image"  style="width:50%">
                        <div class="container">
                          <h4><b>{{ user.get_username }}</b></h4> 
                          <p>Architect & Engineer</p> 
                           <a href="{%url 'logout'%}" class="btn btn-primary float-right">Logout</a>
                        </div>
                      </div>-->

                          <div class="card" style="width:250px">
                            <div class="w3-container w3-center"> 
                              <div class="text-center">
                              <img class="card-img-center" src="{{ Patient_logged_in.0.Profile_pic.url }}" alt="Card image"   style="width:80%" >
                          </div>
                        <div class="container">
                          <h4><b>{{ user.get_username }}</b></h4> 
                          <div class="float-right"> 
                           <a href="{%url 'logout'%}" class="btn btn-primary float-right">Logout</a>
                        </div>
                      </div>
                      </div>
                       </div>

                       <!--
                          <li role="presentation"><a role="menuitem">Signed In as</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1"> {{ user.get_username }}</a></li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'logout'%}">Logout</a></li>
                        -->
                        </ul>
                </li>
                  </ul>
                  <defs>
                      <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image src="{{ Patient_logged_in.0.Profile_pic.url }}" x="0" y="0" width="50" height="50" />
                      </pattern>
              </defs>

                <path d="M08 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
                  fill="url(#img1)" />
                  <!-- d="M5,50
                         l0,100 l100,0 l0,-100 l-100,0
                         M215,100
                         a50,50 0 1 1 -100,0 50,50 0 1 1 100,0
                         M265,50
                         l50,100 l-100,0 l50,-100
                         z" -->

                  <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>

              {%endif%}
              </div><!-- /navbar-collapse -->
            </div><!-- / .container-fluid -->
          </nav>
        </div>
      </div>
    </div>
  </header> <!-- end of header area -->

  <section class="takeapoint text-center" id="takeapoint">
    <div class="container">
      <div class="row">
        <!-- <div class="contact-caption clearfix"> -->
          <!-- <div class="contact-heading text-center"> -->
        <h2>Take Apoint</h2>
  
                        <!-- 
                          2nd Option 
                          Not appropriate Form to be displayed
                      <form class="login100-form validate-form" name="Appoint_form"  id="Appoint_form" method="post" data-slots-url="{% url 'ajax_load_slots' %}"  data-date-url="{% url 'ajax_load_finalslots' %}" novalidate>
                               {% csrf_token %}
                               {{ apoint.non_field_errors }}
                              <span class="login100-form-title p-b-26">
                                  Take Appointment
                              </span>
                              <span class="login100-form-title p-b-48">
                                  <i class="zmdi zmdi-font"></i>
                              </span>


                              <div class="wrap-input100" >
                                  <input  class="input100" type="date" id="id_date" name="date" for="{{ apoint.date.id_for_label }}">
                                  <span class="focus-input100" data-placeholder="Username"></span> 
                              </div>
                              {{ apoint.date.errors }} 

                              <div class="dropdown" >
                                <select class="dropdown-content" type="dropdown" id="id_doctor_name" name="doctor_name" for="{{ apoint.doctor_name.id_for_label }}">
                                     <span class="focus-input100" data-placeholder="Username"></span>
                                     <option value=" ">------</option>
                                        {%for doc in doctors%}
                                            <option value="{{doc}}">{{doc}}</option>
                                          {%endfor%} 
                                </select>
                              {{ apoint.doctor_name.errors }}

                              <div class="dropdown" >
                                   <select  class="dropdown-content" type="dropdown" id="id_slot" name="slot" for="{{ apoint.slot.id_for_label }}">
                                        <span class="focus-input100" data-placeholder="Username"></span> 
                                        <option value=" ">------</option>
                                        {%for slot_time in slots_time %}
                                              <option value="{{slot_time}}">{{slot_time}}</option>
                                        {%endfor%} 
                                     </select>
                              {{ apoint.slot.errors }}

                              <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                  <div class="login100-form-bgbtn"></div>
                                  <button class="login100-form-btn" type="submit">
                                    Take Appointment
                                  </button>
                                </div>
                              </div>

                      </form>
                        2 nd Form Ends herex    
                        -->


      <form name="Appoint_form"  id="Appoint_form" method="post" data-slots-url="{% url 'ajax_load_slots' %}"  data-date-url="{% url 'ajax_load_finalslots' %}" novalidate>
        {% csrf_token %}
        {{ Appoint_med.non_field_errors }}
        <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Med 1</label>
                <div class="col-sm-2">
                      <select class="form-control" id="id_u_id" name="u_id" for="{{Appoint_med.u_id.id_for_label }}">
                        <option value=" ">------</option>
                        {%for u in user%}
                            <option value="{{u.u_id}}">{{u.u_id}}</option>
                        {%endfor%} 
                      </select>
                </div>
          </div>
            {{ Appoint_med.u_id.errors }}
          <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Date</label>
              <div class="col-sm-2">
                <input type="date" class="form-control form-control-sm" id="id_date" name="date" for="{{  Appoint_med.date.id_for_label }} placeholder="Enter Appointment Date">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
              </div>
          </div>
          {{ Appoint_med.date.errors }}
          <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Med 1</label>
                <div class="col-sm-2">
                      <select class="form-control" id="id_Med_1" name="Med_1" for="{{Appoint_med.Med_1.id_for_label }}">
                        <option value=" ">------</option>
                        {%for md in medicine%}
                            <option value="{{md}}">{{md}}</option>
                        {%endfor%} 
                      </select>
                </div>
          </div>
          {{ Appoint_med.Med_1.errors }}
          <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Med 1</label>
                <div class="col-sm-2">
                      <select class="form-control" id="id_m1_days" name="m1_days" for="{{Appoint_med.m1_days.id_for_label }}">
                        <option value=" ">------</option>
                            <option value="one days">One days</option>
                             <option value="two days">Two days</option>
                              <option value="three days">Three days</option>
                      </select>
                </div>
          </div>
           {{ Appoint_med.m1_days.errors }}
          <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Med 1</label>
                <div class="col-sm-2">
                      <select class="form-control" id="id_m1_times_a_day" name="m1_times_a_day" for="{{  Appoint_med.m1_times_a_day.id_for_label }}">
                        <option value=" ">------</option>
                         <option value="once a day">Once  a day</option>
                             <option value="twice a day">Twice a day</option>
                              <option value="thrice a day">Thrice a day</option> 
                      </select>
                </div>
          </div>
           {{ Appoint_med.m1_times_a_day.errors }}
          <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Take Appointment</button>
          </div>
    </form>

<!--
  Option For Displaying Message Besides Button
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
</div>
-->

<script type="">
  {% for message in messages %}
      alert('{{ message }}')
  {% endfor %}
</script>




</div>
</div>
</section>
